.page-template-page-floorplans {

    #floorplans-section {
        text-align: center;
        // @include padding-left-right;
        // @include max-width(1100px);

        .view-btn {
            text-transform: uppercase;
            font-size: 1.133rem;
            font-family: $font__regular;
            background-color: transparent;

            @include respond-to('medium') {
                display: none;
            }
        }

        .description,
        .sqft,
        .availability-link button {
            text-transform: uppercase;
        }

        .description {
            color: $color__brand-red;
            font-family: $font__bold;
            font-size: 1.333rem;

            @include respond-to(medium) {
                font-size: 1.456rem;
            }
        }
        .sqft {
            font-family: $font__light;
            font-size: 1.133rem;

            @include respond-to(medium) {
                font-size: 1.267rem;
            }

        }

        .availability-link {
            font-family: $font__regular;
            font-size: 1rem;

            @include respond-to(medium) {
                font-size: 1.2rem;
            }

            button {
                padding: 1em;
                margin-top: .5em;
            }

        }

        .floorplans-wrapper {

            .view-hide-wrapper {
                display: none;

                @include respond-to(medium) {
                    display: block !important;
                }
            }

            .fp-models {

                .one-bedroom-section,
                .two-bedroom-section,
                .three-bedroom-section {
                    margin-bottom: 4em;
                    @include padding-left-right;
                    @include max-width(1100px);

                    @include respond-to('small-land') {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                .fp-models-wrapper {
                    padding-top: .5em;

                    .floorplan {
                        padding: 1em 0;
                    }

                    @include respond-to('small-land') {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-around;

                        .floorplan {
                            width: 50%;
                            padding: 2em;
                        }
                    }

                    @include respond-to('tablet') {

                        .floorplan {
                            width: 33%;
                        }
                    }

                    @include respond-to('large') {

                        .floorplan {
                            // padding: 2.5em;
                        }
                    }
                }
            }
        }

        .active {
            display: block !important;

        }
    }
}