.page-template-page-availability {

    #page {

        .site-content {

            #primary {
                .entry-title {
                    text-align: center;
                    margin-bottom: 1em;
                }
            }

            .content-wrapper {
                max-width: 1200px !important;
            }

            iframe {
                border: none;
            }
        }
    }

    #vW tr.labels td {
        background-color: $color__brand-black !important;
    }
}