$color__brand-brown: #513628;
$color__brand-red: #a31f34;
$color__brand-pink: #e6ccb7;



$color__background-body: $color__brand-brown;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-main: $color__brand-brown;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;


$color__link: $color__brand-red;
$color__link-visited: $color__brand-red;
$color__link-hover: $color__brand-brown;


$color__button: $color__brand-brown;
$color__background-button: $color__brand-pink;
$color__border-button: none;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;

$color__border-input: #ccc;
$color__border-abbr: #666;

