/* Fonts */

$font__alex: 'AlexBrush-Regular', sans-serif;
$font__light: 'SourceSansPro-Light', sans-serif;
$font__semi: 'SourceSansPro-Semibold', sans-serif;
$font__bold: 'SourceSansPro-Bold', sans-serif;
$font__regular: 'SourceSansPro-Regular', sans-serif;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-pre: 1.6;

$font__main: $font__light;
$font__size-body: 0.9375rem;
$line-height-body: 1.5;