// masthead.scss

#masthead {
    width: 100%;
    height: auto;
    color: #fff;
    background-color: $color__brand-seagreen;
    border-bottom: 5px solid $color__brand-pink;
    @include padding-left-right;
    padding-top: .5em;
    padding-bottom: .5em;
    line-height: 1;

    // a, a:active, a:focus {
    //     outline: none;
    // }

    .site-branding {
        align-self: flex-end;

        img {
            max-width: 135px;

            @include respond-to(small) {
                max-width: 145px;
            }

            @include respond-to(tablet) {
                max-width: 175px;
            }

            @include respond-to(large) {
                max-width: 200px;
            }
        }

        @include respond-to(large) {
            padding-top: .5em;
            padding-bottom: .5em;
        }
    }

    .mobile-menu {
        display: none;
    }

    .toggled {
        display: block;
        position:absolute;
        top: 76px;
        left: 0;
        right: 0;
        height:auto;
        text-align: center;
        background-color: $color__brand-gray;
        color: #fff;
        overflow:hidden;
        z-index:9999;
        padding-top: .5em;
        padding-bottom: 1em;

        .menu-mobile-menu-container {
            display: block !important;;
            padding-top: 1.5em;

            ul {
                display: block !important;
                list-style: none;
                @include reset;
                @include padding-left-right;
                text-align: left;

                .current-menu-item {
                    color:$color__brand-pink;
                }

                li {
                    display: block !important;
                    padding-left: 1.5em;
                    padding-bottom: 1em;
                    position: relative;
                    vertical-align: middle;
                    &:before {
                        content: '\25b6';
                        color: #fff;
                        font-size: .8rem;
                        // margin-right: 10px;
                        vertical-align: middle;
                        position: absolute;
                        left: 0;
                    }

                    a {
                        font-family: $font__light;
                        color:#fff;
                        display: block !important;
                        padding:0;
                        text-decoration:none;
                        font-size: 1rem;
                        text-transform: uppercase;

                        @include respond-to(small-land) {
                            font-size: 1.5rem;
                        }

                        @include respond-to(medium) {
                            font-size: 1.8rem;
                        }

                        &:hover, &:visited, &:active, :link {
                            color: #fff;
                        }

                        ul {
                            li {
                                a {
                                    text-transform: capitalize;
                                    text-decoration: none;
                                    font-size: .9em;
                                }
                            }
                        }
                    }
                }
            }
        }

        @include respond-to(small) {
            top:84px
        }

        @include respond-to(tablet) {
            top:92px;
        }

        @include respond-to(nav) {
            display: none;
        }
    }

    .menu-toggle {
        background-color: $color__brand-gray;
        color: #fff;
        font-family: $font__regular;
        font-size: 0.9333rem;
        text-transform: uppercase;
        width: 72px;
        margin-left: auto;
        padding: .5em;
        margin-top: .5em;

        @include respond-to(small) {
            font-size: 1rem;
            width: 78px;
            margin-top: .75em;
        }

        @include respond-to(tablet) {
            font-size: 1rem;
            width: 78px;
        }

        @include respond-to(nav) {
            display: none;
        }
    }

    .masthead-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        // padding: .5em 0;

        .main-navigation {
            flex: 1;
            text-align: right;
            // align-self: flex-end;
            // display: flex;
            // flex-direction: column;

            .masthead-phone {
                text-align: right;
                color: #000;
                font-family: $font__extra-bold;
                // margin-bottom: 5px;

                span {
                    display: none;
                    font-size: 1.1rem;
                    margin-right: .5em;

                    @include respond-to('tablet') {
                        display: inline-flex;
                    }

                    @include respond-to(nav) {
                        font-size: 1.2rem;
                    }

                    @include respond-to(x-large) {
                        font-size: 1.4rem;
                    }
                }

                a {
                    color: #000;
                    text-decoration: none;
                    font-family: $font__extra-bold;
                    font-size: 1.188rem;

                    @include respond-to(small) {
                        font-size: 1.267rem;
                    }

                    @include respond-to(nav) {
                        font-size: 1.9rem;
                    }

                    @include respond-to(x-large) {
                        font-size: 2.4rem;
                    }
                }
            }

            .menu-primary-container {
                display: none;
                color: #000;

                ul {
                    list-style-type: none;

                    .current-menu-item {

                        a {
                            color: #000;
                            font-family: $font__bold;
                        }
                    }

                    li {
                        list-style: none;
                        padding-left: 10px;

                        &:first-child {
                            padding-left: 0;
                        }

                        a {
                            // padding: 1.5em;
                            color: #000;
                            text-decoration: none;
                            font-family: $font__light;

                            &:before {
                                content: '\25b6';
                                color: #000;
                                font-size: .5em;
                                margin-right: 5px;
                                vertical-align: middle;
                            }
                        }
                    }
                }

                @include respond-to(nav) {
                    display: block;

                    ul {
                        display: inline-flex;

                        li {
                            a {
                                font-size: .9rem;
                                padding:0;
                            }
                        }
                    }
                }

                @include respond-to(large) {

                    ul {

                        li {
                            a {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }

                @media screen and (min-width:1300px) {
                    ul {

                        li {
                            a {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }

                @include respond-to(x-large) {
                    ul {

                        li {
                            padding-left: 1em;
                            a {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
} // #masthead